{% extends 'base.html' %}
{% block title %} {{ title }}
{% endblock %}
{% block main_content %}
<h5>
    Welcome to our main page!
    {{data}}
</h5>


<a href="{% url "vkgroup:test" %}">On searching</a>

<!--<div class="container mt-3 pt-2 border">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-12 p-3">-->
<!--            <div class="text-center">-->
<!--                <h5>-->
<!--                    Welcome to our main page!-->
<!--                </h5>-->
<!--                <img src="/static/img/index.jpg" class="center-block mx-auto d-block " alt="...">-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}
